name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@v3.32
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: fiqgant
          template: classic
          base: header, activity, community, repositories, metadata
          base_hireable: yes
          config_octicon: yes
          config_timezone: Asia/Jakarta
          config_twemoji: yes

          #starred
          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons
          
          #habits
          plugin_habits: yes
          plugin_habits_charts_type: chartist
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 0%
          
          #calendar
          plugin_skyline: yes
          plugin_skyline_frames: 60
          plugin_skyline_quality: 0.5
          plugin_skyline_settings: {
            "url": "https://skyline.github.com/${login}/${year}",
            "ready": "[...document.querySelectorAll('span')].map(span => span.innerText).includes('Share on Twitter')",
            "wait": 1,
            "hide": "button, footer, a"
            }
          plugin_skyline_year: current-year

          
